
@{
    ViewBag.Title = "Ponuda";
}

<div class="l-sekcija">
    <!--Web Ponuda-->
    <div class="l-red">
        <h1 class="l-naslov-1 l-naslov-1-animacija">Ponuda</h1>
        <p class="l-paragraf l-paragraf-animacija l-paragraf-bela">
            Kako odgovor na pitanje <strong>cene izrade sajta</strong> nije nimalo jednostavan ili univerzalan tako smo
            našu generalnu ponudu podelili u tri paketa <b>MINI</b>, <b>STANDARD</b> i <b>PLUS</b> 
            sa okvirnim cenama kako biste mogli da procenite koji Vam paket najviše odgovara.             
        </p>
        <p class="l-paragraf l-paragraf-animacija l-paragraf-bela">
            Svaki od njih je specifičan i razlikuje se kako u ceni i načinu izrade tako i u izdvojenom vremenu za kreiranje. 
            Ukoliko se ne uklapate ni u jedan od ponuđenih paketa, da li što se tiče dizajna ili budžeta, 
            svakako stojimo na raspolaganju da kreiramo sajt po Vašim potrebama 
            i nakon detaljne analize formiramo cenu.
        </p>
        <hr />
    </div>
    <div class="l-red">
        <div class="l-kol-1-od-3">
            <div class="l-flajer">
                <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-1">
                    <div class="l-flajer__slika l-flajer__slika--1">
                        <h1 class="l-naslov-1"><b>MINI</b></h1>
                    </div>
                    <div class="l-flajer__detalji">
                        <ul>
                            <li>Do 5 stranica</li>
                            <li>Responzivni dizajn</li>
                            <li>Linkovi na društvene mreže</li>
                        </ul>
                    </div>
                </div>
                <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-1">
                    <div class="l-flajer__opis">
                        <div class="l-flajer__cena-box">
                            <p class="l-flajer__cena-samo">Od</p>
                            <p class="l-flajer__cena-vrednost">55€</p>
                        </div>
                        @*<a href="#" class="dugme dugme--belo dugme_animacija">Pogledaj primere</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="l-kol-1-od-3">
            <div class="l-flajer">
                <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-2">
                    <div class="l-flajer__slika l-flajer__slika--2">
                        <h1 class="l-naslov-1"><b>STANDARD</b></h1>
                    </div>
                    <div class="l-flajer__detalji">
                        <ul>
                            <li>Do 10 stranica</li>
                            <li>Responzivni dizajn</li>
                            <li>Linkovi na društvene mreže</li>
                            <li>Galerija</li>
                            <li>Kontakt forma</li>
                        </ul>
                    </div>
                </div>
                <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-2">
                    <div class="l-flajer__opis">
                        <div class="l-flajer__cena-box">
                            <p class="l-flajer__cena-samo">Od</p>
                            <p class="l-flajer__cena-vrednost">155€</p>
                        </div>
                        @*<a href="#" class="dugme dugme--belo">Pogledaj primer</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="l-kol-1-od-3">
            <div class="l-flajer">
                <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-3">
                    <div class="l-flajer__slika l-flajer__slika--3">
                        <h1 class="l-naslov-1"><b>PLUS</b></h1>
                    </div>
                    <div class="l-flajer__detalji">
                        <ul>
                            <li>Preko 10 stranica</li>
                            <li>Responzivni dizajn</li>
                            <li>Linkovi na društvene mreže</li>
                            <li>Galerija</li>
                            <li>Kontakt forma</li>      
                            <li>Web prodavnica</li>  
                            <li>Pokretni elementi - Slajderi</li>                    
                        </ul>
                    </div>
                </div>
                <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-3">
                    <div class="l-flajer__opis">
                        <div class="l-flajer__cena-box">
                            <p class="l-flajer__cena-samo">OD</p>
                            <p class="l-flajer__cena-vrednost">245€</p>
                        </div>
                        @*<a href="#" class="dugme dugme--belo">Pogledaj primer</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Graficki dizajn-->
    <section class="l-red">
        <h3 class="l-naslov-2 l-naslov-2-bela">Grafički dizajn</h3>
        <div class="l-proces">
            <div style="padding-left:3rem;padding-right:3rem;">
                <p class="l-paragraf l-paragraf-animacija l-paragraf-logo_plava">
                    Pored ponude Web projektovanja i Web dizajna, takođe nudimo usluge grafičkog dizajna. 
                </p>
                <p class="l-paragraf l-paragraf-animacija l-paragraf-logo_plava">
                    Ako Vam je potrebna vizuelna identifikacija možete nam se obratiti a naš grafički dizajner će zajedno sa Vama osmisliti logotip, 
                    dizajn poslovne dokumentacije, boje itd. Za sve to ćete dobiti originalne radne fajlove kako biste mogli obavljati izmene tipa promena boje, dimenzija, orijentacije i slično.
                </p>
                <p class="l-paragraf l-paragraf-animacija l-paragraf-logo_plava">
                    Pogledajte neke od primera logotipa:
                </p>
                <a href="#vise" id="pogledajVise" class="vise pull-right" data-toggle="collapse"><i id="strelica-dole" class="fas fa-angle-down fa-2x"></i><i id="strelica-gore" class="fas fa-angle-up fa-2x" hidden></i></a>
                <div class="l-red l-margina-gore-srednja">                    
                    <div class="l-kol-1-od-4">                        
                        <figure class="logo-sekcija">
                            <img src="~/Content/Images/Galerija/crr.jpg" />
                        </figure>
                    </div>
                    <div class="l-kol-1-od-4">
                        <figure class="logo-sekcija">
                            <img src="~/Content/Images/Galerija/cv.jpg" />
                        </figure>
                    </div>
                    <div class="l-kol-1-od-4">
                        <figure class="logo-sekcija">
                            <img src="~/Content/Images/Galerija/dl.jpg" />
                        </figure>
                    </div>
                    <div class="l-kol-1-od-4">
                        <figure class="logo-sekcija">
                            <img src="~/Content/Images/Galerija/dx.jpg" />
                        </figure>
                    </div>                        
                </div>                
                   <div id="vise" class="collapse">
                       <div class="l-red">
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/mw.jpg" />
                               </figure>
                           </div>
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/sh.jpg" />
                               </figure>
                           </div>
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/ahc.jpg" />
                               </figure>
                           </div>
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/btb.jpg" />
                               </figure>
                           </div>
                       </div>
                       <div class="l-red">
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/ctl.jpg" />
                               </figure>
                           </div>
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/em.jpg" />
                               </figure>
                           </div>
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/h2o.jpg" />
                               </figure>
                           </div>
                           <div class="l-kol-1-od-4">
                               <figure class="logo-sekcija">
                                   <img src="~/Content/Images/Galerija/qp.jpg" />
                               </figure>
                           </div>
                       </div>
                   </div>                
                </div>            
            </div>            
        </section>

    <!--Fotografija-->
    <section class="l-red">
        <h3 class="l-naslov-2 l-naslov-2-bela">Fotografija</h3>
         <div class="l-proces">
            <div style="padding-left:3rem;padding-right:3rem;">
                <div class="l-kol-1-od-2">
                    <p class="l-paragraf l-paragraf-animacija l-paragraf-logo_plava l-row-left">
                        Učinite svoj sajt još unikatnijim tako što ćete ga obogatiti autentičnim profesionalnim fotografijama vašeg lokala, firme, salona, osoblja, proizvoda...
                        Dogovorite se sa našim fotografom za mesto i vreme fotografisanja i sve snimke ćete dobiti u digitalnom formatu,
                        a one koje budu upotrebljene na web stranicama biće obrađene i prilagođene rezolucije za pretraživače.
                    </p><br />
                    <a href="/Home/ONama#fotograf" class="l-paragraf l-paragraf-animacija l-paragraf-logo_narandzasta l-row-left">
                        Kontakt informacije fotografa
                    </a>
                </div>
                <div class="l-kol-1-od-2">
                    <figure class="l-row-right ta-center">
                        <img class="imag1" src="~/Content/Images/foto.jpg" />
                    </figure>
                </div>
            </div>
        </div>  
        <hr />
    </section>


    <!--SPECIJALNA PONUDA-->
    <section class="l-red">
        <section class="l-sekcija l-sekcija-narandzasta" id="specPonuda">
            <div class="l-red">
                <h1 class="l-naslov-1 l-naslov-1-animacija">Specijalno!</h1>
                <h1 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija">Sajamska ponuda<span>*</span></h1>
                <div class="l-kol-1-od-2">
                    <div class="l-flajer">
                        <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-1">
                            <div class="l-flajer__slika l-flajer__slika--1 l-flajer__slika--spec1">
                                <h1 class="l-naslov-1"><b>MINI</b></h1>
                            </div>
                            <div class="l-flajer__detalji">
                                <ul>
                                    <li>Do 5 stranica</li>
                                    <li>Responzivni dizajn</li>
                                    <li>Kontakt forma</li>
                                    <li>Linkovi na društvene mreže</li>
                                </ul>
                            </div>
                        </div>
                        <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-1">
                            <div class="l-flajer__opis">
                                <div class="l-flajer__cena-box">
                                    <p class="l-flajer__cena-samo">Samo</p>
                                    <p class="l-flajer__cena-vrednost">45€</p>
                                </div>
                                <a href="/Ponuda/SpecPonudaMini" class="dugme dugme--belo dugme_animacija">Pogledaj primer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-kol-1-od-2">
                    <div class="l-flajer">
                        <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-2">
                            <div class="l-flajer__slika l-flajer__slika--2 l-flajer__slika--spec2">
                                <h1 class="l-naslov-1"><b>STANDARD</b></h1>
                            </div>
                            <div class="l-flajer__detalji">
                                <ul>
                                    <li>Do 15 stranica</li>
                                    <li>Responzivni dizajn</li>
                                    <li>Kontakt forma</li>
                                    <li>Galerija</li>
                                    <li>Linkovi na društvene mreže</li>
                                    <li>Pokretni elementi - Slajderi</li>
                                </ul>
                            </div>
                        </div>
                        <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-2">
                            <div class="l-flajer__opis">
                                <div class="l-flajer__cena-box">
                                    <p class="l-flajer__cena-samo">Samo</p>
                                    <p class="l-flajer__cena-vrednost">145€</p>
                                </div>
                                <a href="/Ponuda/SpecPonudaOsnovna" class="dugme dugme--belo">Pogledaj primer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="l-naslov-3 l-naslov-3-bela">Ponuda važi za vreme trajanja sajma kozmetike!</h3>
        </section>
    </section>
</div>

 <!--MODAL POPUP-->
<div id="popap_spec" class="popap_spec popap_spec__fade" role="dialog">
    <div class="popap_spec__dialog">
        <div class="popap_spec__sadrzaj">
            <a href="#" class="popap_spec__zatvoren" data-dismiss="modal"><i class="fas fa-times"></i></a>
            <div class="l-sekcija l-sekcija-narandzasta">
                <div class="ta-center">
                    <h1 class="l-naslov-1 l-naslov-1-animacija">Obaveštenje!</h1>
                    <h1 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija">Sajamska ponuda<span>*</span></h1>
                    <h3 class="l-naslov-3 l-naslov-3-bela">Izdvojili smo za 31. međunarodni sajam kozmetike <strong>DODIR PARIZA</strong> specijalne ponude:</h3>
                    <h1 class="l-naslov-2-plava l-naslov-2-animacija-2">MINI i STANDARD</h1><span class="l-naslov-2 l-naslov-2-bela">paket</span><h3>po neverovatno povoljnim cenama!</h3><br />
                </div>
                <div class="ta-center">
                    <a href="#" id="zatvori" class="dugme dugme--plavo ta-center" data-dismiss="modal">Pogledaj ponudu</a>
                    <h3 class="l-naslov-3 l-naslov-3-bela">*Ponuda važi za vreme trajanja sajma kozmetike!</h3>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#popap_spec').fadeIn(500).modal("show");
            }, 2000); // milliseconds
        });
        $("#zatvori").click(function () {
            $('#popap_spec').on('hidden.bs.modal', function (e) {
                $('html, body').animate({
                    scrollTop: $("#specPonuda").offset().top
                }, 750);
            })
        });
        //<a href="#vise" class="vise pull-right" data-toggle="collapse"><i id="i1" class="fas fa-angle-down"></i></a>
        var div = $("#vise");
        $("#pogledajVise").click(function () {
            if (div.hasClass("collapse")) {
                document.getElementById("strelica-dole").setAttribute('hidden',true);
                document.getElementById("strelica-gore").removeAttribute('hidden');
            }
            else {                
                document.getElementById("strelica-dole").removeAttribute('hidden', true);
                document.getElementById("strelica-gore").setAttribute('hidden', true);
            }
        });
    </script>
}
@*<div class="l-red">
        <div class="l-kol-1-od-2">
            1 od 2
        </div>
        <div class="l-kol-1-od-2">
            1 od 2
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
        <div class="l-kol-2-od-3">
            2 od 3
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-2-od-4">
            2 od 4
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-3-od-4">
            3 od 4
        </div>
    </div>*@
