
@{
    ViewBag.Title = "Ponuda";
}

<div class="l-sekcija">
    <div class="l-red">
        <h1 class="l-naslov-1 l-naslov-1-animacija">Nudimo</h1>
        <p class="l-paragraf l-paragraf-animacija l-paragraf-bela">
            Našu generalnu ponudu smo podelili u tri paketa: <b>MINI</b>, <b>OSNOVNI</b> i <b>PLUS</b> paket. Svaki od njih je specifičan i razlikuje se kako u ceni i načinu izrade tako i u izdvojenom vremenu za kreiranje. Ukoliko se ne uklapate ni u jedan od ponuđenih paketa, da li što se tiče dizajna ili budžeta, svakako stojimo na raspolaganju da kreiramo sajt po vašim potrebama.
        </p>
        <hr />
    </div>    
    <div class="l-red">
        <div class="l-kol-1-od-3">
            <div class="l-flajer">
                <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-1">
                    <div class="l-flajer__slika l-flajer__slika--1">
                        <h1 class="l-naslov-1"><b>MINI</b></h1>
                    </div>                    
                    <div class="l-flajer__detalji">
                        <ul>
                            <li>7-10 dana izrade</li>
                            <li>Do 5 stranica</li>
                            <li>Responzivni dizajn</li>
                            @*<li>Galerija</li>
                            <li>Kontakt forma</li>
                            <li>Skripte</li>*@
                        </ul>
                    </div>
                </div>
                <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-1">
                    <div class="l-flajer__opis">
                        <div class="l-flajer__cena-box">
                            <p class="l-flajer__cena-samo">Od</p>
                            <p class="l-flajer__cena-vrednost">55€</p>
                        </div>
                            @*<a href="#" class="dugme dugme--belo dugme_animacija">Pogledaj primere</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="l-kol-1-od-3">
            <div class="l-flajer">
                <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-2">
                    <div class="l-flajer__slika l-flajer__slika--2">
                        <h1 class="l-naslov-1"><b>OSNOVNI</b></h1>               
                    </div>                         
                    <div class="l-flajer__detalji">
                        <ul>
                            <li>10-20 dana izrade</li>
                            <li>Do 15 stranica</li>
                            <li>Responzivni dizajn</li>
                            <li>Pokretni elementi</li>
                            @*<li>Kontakt forma</li>
                            <li>Skripte</li>*@
                        </ul>
                    </div>
                </div>
                <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-2">
                    <div class="l-flajer__opis">
                        <div class="l-flajer__cena-box">
                            <p class="l-flajer__cena-samo">Samo</p>
                            <p class="l-flajer__cena-vrednost">155€</p>
                        </div>
                        @*<a href="#" class="dugme dugme--belo">Pogledaj primer</a>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="l-kol-1-od-3">
            <div class="l-flajer">
                <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-3">
                    <div class="l-flajer__slika l-flajer__slika--3">
                        <h1 class="l-naslov-1"><b>PLUS</b></h1>
                    </div>
                    <div class="l-flajer__detalji">
                        <ul>
                            <li>30-45 dana izrade</li>
                            <li>Do 30 stranica</li>
                            <li>Responzivni dizajn</li>
                            <li>Galerija</li>
                            <li>Kontakt forma</li>
                            <li>Skripte</li>
                        </ul>
                    </div>
                </div>
                <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-3">
                    <div class="l-flajer__opis">
                        <div class="l-flajer__cena-box">
                            <p class="l-flajer__cena-samo">Samo</p>
                            <p class="l-flajer__cena-vrednost">215€</p>
                        </div>
                        @*<a href="#" class="dugme dugme--belo">Pogledaj primer</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-red">
        <div class="l-sekcija l-sekcija-narandzasta">
            <div class="l-red">
                <h1 class="l-naslov-1 l-naslov-1-animacija">Specijalno!</h1>
                <h1 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija">Sajamska ponuda<span>*</span></h1>
                <div class="l-kol-1-od-2">
                    <div class="l-flajer">
                        <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-1">
                            <div class="l-flajer__slika l-flajer__slika--1 l-flajer__slika--spec1">
                                <h1 class="l-naslov-1"><b>MINI</b></h1>
                            </div>
                            <div class="l-flajer__detalji">
                                <ul>
                                    <li>7-10 dana izrade</li>
                                    <li>Do 5 stranica</li>
                                    <li>Responzivni dizajn</li>
                                    @*<li>Galerija</li>
                                    <li>Kontakt forma</li>
                                    <li>Skripte</li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-1">
                            <div class="l-flajer__opis">
                                <div class="l-flajer__cena-box">
                                    <p class="l-flajer__cena-samo">Samo</p>
                                    <p class="l-flajer__cena-vrednost">45€</p>
                                </div>
                                <a href="/Ponuda/SpecPonudaMini" class="dugme dugme--belo dugme_animacija">Pogledaj primer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-kol-1-od-2">
                    <div class="l-flajer">
                        <div class="l-flajer__pozadina l-flajer__pozadina--napred l-flajer__pozadina--napred-2">
                            <div class="l-flajer__slika l-flajer__slika--2 l-flajer__slika--spec2">
                                <h1 class="l-naslov-1"><b>OSNOVNI</b></h1>
                            </div>
                            <div class="l-flajer__detalji">
                                <ul>
                                    <li>10-20 dana izrade</li>
                                    <li>Do 15 stranica</li>
                                    <li>Responzivni dizajn</li>
                                    <li>Pokretni elementi</li>
                                    @*<li>Kontakt forma</li>
                        <li>Skripte</li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="l-flajer__pozadina l-flajer__pozadina--nazad l-flajer__pozadina--nazad-2">
                            <div class="l-flajer__opis">
                                <div class="l-flajer__cena-box">
                                    <p class="l-flajer__cena-samo">Samo</p>
                                    <p class="l-flajer__cena-vrednost">145€</p>
                                </div>
                                <a href="/Ponuda/SpecPonudaOsnovna" class="dugme dugme--belo">Pogledaj primer</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <h3 class="l-naslov-3 l-naslov-3-bela">Ponuda važi za vreme trajanja sajma kozmetike!</h3>
        </div>
    </div>
</div>

@*<div class="l-red">
        <div class="l-kol-1-od-2">
            1 od 2
        </div>
        <div class="l-kol-1-od-2">
            1 od 2
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-3">
            1 od 3
        </div>
        <div class="l-kol-2-od-3">
            2 od 3
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-2-od-4">
            2 od 4
        </div>
    </div>

    <div class="l-red">
        <div class="l-kol-1-od-4">
            1 od 4
        </div>
        <div class="l-kol-3-od-4">
            3 od 4
        </div>
    </div>*@
