
@{
    ViewBag.Title = "SpecPonuda";
}
<div class="SpecPonudaMini">
    <div class="container" style="margin-top:100px;">
        <div class="row l-sekcija-narandzasta">
            <h1 class="l-naslov-1">Specijalna Sajamska Ponuda</h1>
            <hr />
            <h2 class="l-naslov-2">Za predstojeći Sajam "pitaćemo Boku kako se zove" smo pripremili dve posebne ponude: Mini i Osnovnu.</h2>
            <h2 class="l-naslov-3">Mini ponuda obuhvata sledeće:</h2>
            <ul style="list-style-type:none;">
                <li><h2 class="l-naslov-3">Izradu sajta do 5 stranica</h2></li>
                <li><h2 class="l-naslov-3">Responzivni dizajn (obezbedjuje dobar izgled stranice na svim ekranima)</h2></li>
                <li><h2 class="l-naslov-3">Kontakt formu</h2></li>
                <li><h2 class="l-naslov-3">Linkove na društvene mreže</h2></li>
            </ul>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-4">
                <a href="#" id="pop1">
                    <img id="imageresource1" src="~/Content/Images/Spec/SpecMini1.jpg" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" id="pop2">
                    <img id="imageresource2" src="~/Content/Images/Spec/SpecMini2.jpg" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" id="pop3">
                    <img id="imageresource3" src="~/Content/Images/Spec/SpecMIni3.jpg" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" id="pop4">
                    <img id="imageresource4" src="~/Content/Images/Spec/SpecMini4.jpg" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" id="pop5">
                    <img id="imageresource5" src="~/Content/Images/Spec/SpecMini5.jpg" />
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" id="pop6">
                    <img id="imageresource6" src="~/Content/Images/Spec/SpecMini6.jpg" />
                </a>
            </div>
        </div>

        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <div class="modal-body">
                        <img src="" id="imagepreview" style="width: 400px; height: 264px;">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script>
        $("#pop1").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource1').attr('src'));
            $('#imagemodal').modal('show'); 
        });
        $("#pop2").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource2').attr('src')); 
            $('#imagemodal').modal('show'); 
        });
        $("#pop3").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource3').attr('src')); 
            $('#imagemodal').modal('show'); 
        });
        $("#pop4").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource4').attr('src')); 
            $('#imagemodal').modal('show'); 
        });
        $("#pop5").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource5').attr('src')); 
            $('#imagemodal').modal('show');
        });
        $("#pop6").on("click", function () {
            $('#imagepreview').attr('src', $('#imageresource6').attr('src')); 
            $('#imagemodal').modal('show');
        });
    </script>
    }

