
@{
    ViewBag.Title = "Portfolio";
}

<div class="l-sekcija">
    <div class="l-red">
        <div class="l-text-box">
            <h1 class="l-naslov-2 l-naslov-2-bela l-naslov-1-animacija">Pogledajte sajtove koje smo uradili u prethodna 2 - 3 meseca</h1>
        </div>
    <hr />
    </div>
    <div class="l-red l-red-animacija">
        <div class="l-kol-1-od-4">
            <div class="l-karta">
                <div class="l-karta__pozadina l-karta__pozadina--napred">
                    <div class="l-karta__slika">
                        <img src="~/Content/Images/Galerija/arabeska.jpg" />
                    </div>
                    <h4 class="l-karta__naslov">
                        Arabeska plus
                    </h4>
                    <div class="l-karta__detalji">
                        Sajt za firmu Arabeska plus
                    </div>
                </div>
                <div class="l-karta__pozadina l-karta__pozadina--nazad">
                    <div class="l-karta__zadnja_strana">
                        <a target="_blank" href="http://arabeska.somee.com" class="dugme dugme--belo">Poseti sajt</a>
                    </div>
                </div>
            </div>
        </div>         
        <div class="l-kol-1-od-4">
            <div class="l-karta">
                <div class="l-karta__pozadina l-karta__pozadina--napred">
                    <div class="l-karta__slika">
                        <img src="~/Content/Images/Galerija/iBrowHanna.somee.com.png" />
                    </div>
                    <h4 class="l-karta__naslov">
                        ibrow hanna
                    </h4>
                    <div class="l-karta__detalji">
                        Sajt za kozmeticke preparate
                    </div>
                </div>
                <div class="l-karta__pozadina l-karta__pozadina--nazad">
                    <div class="l-karta__zadnja_strana">
                        <a target="_blank" href="http://ibrowhanna.somee.com" class="dugme dugme--belo">Poseti sajt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-kol-1-od-4">
            <div class="l-karta">
                <div class="l-karta__pozadina l-karta__pozadina--napred">
                    <div class="l-karta__slika">
                        <img src="~/Content/Images/Galerija/bal.jpg" />
                    </div>
                    <h4 class="l-karta__naslov">
                        Billiard Amateur League
                    </h4>
                    <div class="l-karta__detalji">
                        Sajt za Bilijarsku amatersku ligu
                    </div>
                </div>
                <div class="l-karta__pozadina l-karta__pozadina--nazad">
                    <div class="l-karta__zadnja_strana">
                        <a target="_blank" href="http://www.bal.somee.com" class="dugme dugme--belo">Poseti sajt</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-kol-1-od-4">
            <div class="l-karta">
                <div class="l-karta__pozadina l-karta__pozadina--napred">
                    <div class="l-karta__slika">
                        <img src="~/Content/Images/Galerija/MontazneKuceIvanjica.rs.png" />
                    </div>
                    <h4 class="l-karta__naslov">
                        montažne kuće ivanjica
                    </h4>
                    <div class="l-karta__detalji">
                        Sajt za Montažne kuće Ivanjica
                    </div>
                </div>
                <div class="l-karta__pozadina l-karta__pozadina--nazad">
                    <div class="l-karta__zadnja_strana">
                        <a target="_blank" href="http://www.montaznekuceivanjica.rs" class="dugme dugme--belo">Poseti sajt</a>
                    </div>
                </div>
            </div>
        </div>          
    </div>
    <div class="l-red l-red-animacija">
        <div class="l-kol-1-od-4">
            <div class="l-karta">
                <div class="l-karta__pozadina l-karta__pozadina--napred">
                    <div class="l-karta__slika">
                        <img src="~/Content/Images/Galerija/CeDaBidne.Nekad.png" />
                    </div>
                    <h4 class="l-karta__naslov">
                        kud ivanjica
                    </h4>
                    <div class="l-karta__detalji">
                        Sajt za Kulturno Umetnicko Drustvo Ivanjica
                    </div>
                </div>
                <div class="l-karta__pozadina l-karta__pozadina--nazad">
                    <div class="l-karta__zadnja_strana">
                        <a target="_blank" href="/Home/RadoviUToku" class="dugme dugme--belo">Poseti sajt</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @*<h2>&nbsp; Predstavljamo vam sajtove nase izrade ili u čijoj smo izradi učestvovali u prethodna dva meseca... ili tako nešto</h2>*@
@*<div class="l-red">
    <div class="l-kol-1-od-2">
        1 od 2
    </div>
    <div class="l-kol-1-od-2">
        1 od 2
    </div>
</div>

<div class="l-red">
    <div class="l-kol-1-od-3">
        1 od 3
    </div>
    <div class="l-kol-1-od-3">
        1 od 3
    </div>
    <div class="l-kol-1-od-3">
        1 od 3
    </div>
</div>

<div class="l-red">
    <div class="l-kol-1-od-3">
        1 od 3
    </div>
    <div class="l-kol-2-od-3">
        2 od 3
    </div>
</div>

<div class="l-red">
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
</div>

<div class="l-red">
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
    <div class="l-kol-2-od-4">
        2 od 4
    </div>    
</div>

<div class="l-red">
    <div class="l-kol-1-od-4">
        1 od 4
    </div>
    <div class="l-kol-3-od-4">
        3 od 4
    </div>
</div>*@
