@{
    ViewBag.Title = "Dobrodošli";
}
<div class="container index" id="test">
    <div class="row" style="width:100%;">
        <div class="col-sm-offset-2 col-sm-8" style="position:relative;">

            <span id="sp1" class="sp1">Brza izrada</span>

            <span id="sp101" class="sp2" style="left:10px;">O</span>
            <span id="sp102" class="sp2" style="left:70px;">r</span>
            <span id="sp103" class="sp2" style="left:110px;">i</span>
            <span id="sp104" class="sp2" style="left:146px;">g</span>
            <span id="sp105" class="sp2" style="left:200px;">i</span>
            <span id="sp106" class="sp2" style="left:230px;">n</span>
            <span id="sp107" class="sp2" style="left:285px;">a</span>
            <span id="sp108" class="sp2" style="left:340px;">l</span>
            <span id="sp109" class="sp2" style="left:370px;">n</span>
            <span id="sp110" class="sp2" style="left:430px;">i</span>

            <span id="sp111" class="sp2" style="left:495px;">D</span>
            <span id="sp112" class="sp2" style="left:558px;">i</span>
            <span id="sp113" class="sp2" style="left:590px;">z</span>
            <span id="sp114" class="sp2" style="left:640px;">a</span>
            <span id="sp115" class="sp2" style="left:700px;">j</span>
            <span id="sp116" class="sp2" style="left:730px;">n</span>

            <span id="sp201" class="sp3">Povoljne</span>
            <span id="sp202" class="sp4">Cene</span>

            <img class="logo img" src="~/Content/Images/logo/mm-logo-tekst.png" style="max-width:30em;" />     
            <hr /> 
        </div>  
    </div><br /><br />
    <div class="row" style="position:relative; height:500px;">        
        <img class="laptop img" src="~/Content/Images/LapTop.png" />
        <img class="fon img" src="~/Content/Images/Phone.png" />
        <img class="tablet img" src="~/Content/Images/office-free-for-android.png" />
        <img class="gif img" src="~/Content/Images/gif/LapTopGif.gif" />
    </div>

          
</div>
<div class="l-astal"></div>

<div class="l-wrapper">        
    <div class="l-container">
        <div class="l-row">
            <div class="l-row-left">
                <h5>IZRADA SAJTOVA</h5>
                <p>
                    Od nedavno se bavimo izradom internet sajtova, pa se ne možemo pohvaliti velikim brojem uradjenih stranica, ali Vam možemo ponuditi sigurno najpovoljniju cenu ako su 
                    Važi prioriteti profesionalna izrada i originalni dizajn.
                    Naime, mi smo programeri, ne radimo sa šablonima, svaki naš sajt je jedinstven i "responsive" (prilagodjen za sve ekrane). Takodje, jedan od nas je grafički dizajner 
                    i njegovo decenijsko iskustvo nam omogućava brzu izradu originalnih sadržaja.
                </p>
            </div>
            <div class="l-row-right">
                <img class="imag" src="~/Content/Images/gif/123.gif"/>
            </div>
        </div>
    </div>
    <h4>PRUŽITE NAM ŠANSU DA VAM DOKAŽEMO NAŠ KVALITET</h4> 
</div>

<div class="container index">
<<<<<<< HEAD
    <div class="row">
=======
    <div class="l-red">
>>>>>>> Milos-04-05
        <div class="col-xs-12">
            <div class="demo">
                <div class="item">
                    <ul id="content-slider" class="content-slider">
                        <li class="zumOut">
                            <img src="~/Content/Images/izrada-e-shopa-680x350.jpg" />
                            <span>Izrada Inrenet Prodavnice</span>
                        </li>
                        <li class="zumOut prvi">
                            <img src="~/Content/Images/izrada-sajta-saljder-1-680x350.jpg" />
                            <span>Održavanje sajtova</span>
                        </li>
                        <li class="zumOut">
                            <img src="~/Content/Images/izrada-sajtova-680x350.jpg" />
                            <span>Izrada Web Stranica</span>
                        </li>
                        <li class="zumOut">
                            <img src="~/Content/Images/redizajn-sajtova-680x350.jpg" />
                            <span>Redizajn Sajtova</span>
                        </li>
                        <li class="zumOut">
                            <img src="~/Content/Images/web-dizajn-680x350.jpg" />
                            <span>Web Dizajn</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="l-wrapper">        
    <h3 class="ta-center">Proces izrade sajtova</h3><h5><i class="fas fa-angle-down strelica fa-2x"></i></h5>
    <div class="l-proces" id="proces">       
        <h5 class="l-proces-opis ta-center l-margina-dole-srednja">Proces izrade sajtova smo podelili u 4 faze:</h5>
        <div class="l-proces-row">
            <div class="l-proces-img">
                <a href="#popap-upoznavanje"><i class="fas fa-handshake fa-4x proces-hover"></i></a><br />
                <h5>UPOZNAVANJE</h5>
                <p>Kako bi prilagodili ponudu Vašim potrebama i našli najbolje rešenje za Vaš sajt, neophodno je da se detaljno upoznamo sa Vašim poslom.</p>
            </div>
            <div class="l-proces-img">
                <a href="#popap-dizajn"><i class="fas fa-paint-brush fa-4x proces-hover"></i></a>
                <h5>DIZAJN SAJTA</h5>
                <p>Definišemo u dogovoru sa Vama stilove, strukturu, boje Vašeg sajta i dogovaramo se oko izgleda i funkcionalnosti.</p>
            </div>
            <div class="l-proces-img">
                <a href="#popap-izrada"><i class="fas fa-cogs fa-4x proces-hover"></i></a>
                <h5>IZRADA SAJTA</h5>
                <p>Na osnovu Vaših želja i potreba stupamo u proces izrade sajta, prilagođavanje mobilnim i tablet uređajima i optimizujemo za pretraživače.</p>
            </div>
            <div class="l-proces-img">
                <a href="#popap-pokretanje"><i class="fas fa-rocket fa-4x proces-hover"></i></a>
                <h5>POKRETANJE SAJTA</h5>
                <p>Završna faza - postavljanje sajta online i konačna provera funkcionalnosti i da li sve radi bez greške.</p>
            </div>
        </div>
    </div> 
</div>

<div class="popap" id="popap-upoznavanje">
    <div class="popap__sadrzaj">
        <div class="popap__levo">
            <img class="popap__slika" src="~/Content/Images/Proces/upoznavanje1.jpg" alt="" />
            <img class="popap__slika" src="~/Content/Images/Proces/upoznavanje2.jpg" alt="" />
        </div>
        <div class="popap__desno">
            <a href="#" class="popap__zatvoren"><i class="fas fa-times"></i></a>
            <h2 class="l-naslov-2 l-margina-dole-mala">Proces - Analiza</h2>
            <h3 class="l-naslov-3-narandzasta l-margina-dole-mala">I &ndash; Upoznavanje</h3>
            <p class="popap__tekst">
                Veoma važan aspekt u kreiranju sajta je upoznavanje gde ćemo detaljno analizirati Vaše potrebe i ciljeve kao i kakav sajt želite da napravimo.
                Pošto nemamo kancelarije, možemo da se dogovorimo za mesto i vreme sastanka a to može biti bilo koja lokacija u Beogradu i poželjno je da ima pristup internetu.
                Nakon upoznavanja dogovaramo se o dizajnu sajta.
            </p>
            <a href="#proces" class="dugme dugme--plavo">U redu</a>
        </div>
    </div>
</div>
<div class="popap" id="popap-dizajn">
    <div class="popap__sadrzaj">
        <div class="popap__levo">
            <img class="popap__slika" src="~/Content/Images/Proces/dizajn1.jpg" alt="" />
            <img class="popap__slika" src="~/Content/Images/Proces/dizajn2.jpg" alt="" />
        </div>
        <div class="popap__desno">
            <a href="#" class="popap__zatvoren"><i class="fas fa-times"></i></a>
            <h2 class="l-naslov-2 l-margina-dole-mala">Proces - Analiza</h2>
            <h3 class="l-naslov-3-narandzasta l-margina-dole-mala">II &ndash; Dizajn sajta</h3>
            <p class="popap__tekst">
                Sa Vama se u ovoj fazi procesa izrade dogovaramo oko vrste i oblika sajta koji želite - prosta statička web prezentacija ili kompleksna web aplikacija. Takođe razmatramo odabir boja, kompoziciju kao i sadržaj koji želite da se nade na sajtu. Ukoliko vam je potreban logotip za preduzeće ili 100% unikatne profesionalne fotografije, u ovoj fazi se možemo i to dogovoriti. Nakon konačnog dogovora pristupamo izradi sajta...
            </p>
            <a href="#proces" class="dugme dugme--plavo">U redu</a>
        </div>
    </div>
</div>
<div class="popap" id="popap-izrada">
    <div class="popap__sadrzaj">
        <div class="popap__levo">
            <img class="popap__slika" src="~/Content/Images/Proces/izrada2.jpg" alt="" />
            <img class="popap__slika" src="~/Content/Images/Proces/izrada1.jpg" alt="" />
        </div>
        <div class="popap__desno">
            <a href="#" class="popap__zatvoren"><i class="fas fa-times"></i></a>
            <h2 class="l-naslov-2 l-margina-dole-mala">Proces - Sinteza</h2>
            <h3 class="l-naslov-3-narandzasta l-margina-dole-mala">III &ndash; Izrada sajta</h3>
            <p class="popap__tekst">
                Ova faza podrazumeva, kao što joj ime nagoveštava, samu izradu. Projektovanje sajta, kreiranje stilova, strana, popunjavanje tekstualnim i multimedijalnim sadržajem, povezivanje linkova... U toku ove faze postavljamo sajt na besplatan hosting server i bićete u mogucnosti da vidite kako vaš sajt izgleda i kako se razvija, i moćićete da sugerišete na eventualne promene (što može uticati na dogovorenu cenu u zavisnosti od kompleksnosti promena i od odstupanja od inicijalnog dogovora).
            </p>
            <a href="#proces" class="dugme dugme--plavo">U redu</a>
        </div>
    </div>
</div>
<div class="popap" id="popap-pokretanje">
    <div class="popap__sadrzaj">
        <div class="popap__levo">
            <img class="popap__slika" src="~/Content/Images/Proces/pokretanje1.jpg" alt="" />
            <img class="popap__slika" src="~/Content/Images/Proces/pokretanje2.jpg" alt="" />
        </div>
        <div class="popap__desno">
            <a href="#" class="popap__zatvoren"><i class="fas fa-times"></i></a>
            <h2 class="l-naslov-2 l-margina-dole-mala">Proces - Sinteza</h2>
            <h3 class="l-naslov-3-narandzasta l-margina-dole-mala">IV &ndash; Pokretanje sajta</h3>
            <p class="popap__tekst">
                Ovo je završna faza procesa koja obuhvata konačnu proveru funkcionalnosti, responzivnosti i postavljanje sajta na Vaš domen i hosting. U toku ove faze imate mogućnost da narednih 7 dana od dana postavljanja, zatražite izmene koje će biti primenjene bez naknade a koje su u domenu prvobitnog dogovora (ukoliko su izmene sitne neće biti naplaćene). Nakon ovog perioda sve intervencije na sajtu će se smatrati kao održavanje sajta.
            </p>
            <a href="#proces" class="dugme dugme--plavo">U redu</a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/lightslider.js"></script>
    <script>
        var sw = screen.width;
        var a1L = (sw >= 1200) ? 150 : (sw >= 1044) ? 117 : (sw >= 992) ? 142 : (sw >= 768) ? 66 : (sw >= 715) ? 180 : (sw >= 670) ? 155 : 150;
        $(function () {
            $('.laptop, .fon, .tablet, .gif').addClass('opaque');
            var slova = $('.sp2');
            if (sw <= 1200 && sw > 992) {
                slova.css("left", "-=60");
            } else if (sw <= 992 && sw >= 768) {
                slova.css("left", "-=135");
            } else if (sw <= 768 && sw > 705) {
                for (var i = 0; i < slova.length; i++) {
                    $(slova[i]).css("left", $(slova[i]).position().left / 1.1);
                };
            } else if (sw <= 705 && sw > 650) {
                for (var i = 0; i < slova.length; i++) {
                    $(slova[i]).css("left", $(slova[i]).position().left / 1.2);
                };
            } else if (sw <= 650) {
                for (var i = 0; i < slova.length; i++) {
                    $(slova[i]).css("left", $(slova[i]).position().left / 1.3);
                };
            }
        });

        $("#content-slider").lightSlider({                
            item: 3,
            auto: true,
            loop: true,
            pauseOnHover: false,
            pause: 4000,
            speed: 800,
            slideMargin: 0,
            controls: false,
            enableDrag: false,
            freeMove: false,
            pager: false,

            onBeforeStart: function (el) {
                $('.prvi').addClass('zumIn');
            },
            onBeforeSlide: function (el) {
                $('.active').next().removeClass('zumIn');
                if ($('.active').next().next().hasClass('prvi')) {
                    $('.prvi').addClass('zumIn');
                }
                $('.active').next().next().addClass('zumIn');
            },
            onAfterSlide: function (el) {
                if ($('.active').hasClass('prvi')) {
                    $('.prvi').removeClass('zumIn');
                }
                $('.active').prev().removeClass('zumIn');
            }
        });        

        $('#sp1').delay(100).animate({ left: a1L }, 1000).delay(1000).animate({ left: -50 }, 400).animate({ left: 1500 }, 800, function () {
            var div = document.getElementById("sp1");
            div.parentNode.removeChild(div);

            $('#sp101').animate({ top: 100 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 3200, function () {
                $(this).addClass('fadeOut').delay(700).queue(function () {

                    $('#sp201').addClass('sp3-f').delay(1500).queue(function () {
                        var divs = document.getElementsByClassName('sp2');
                        for (var i = 0; i < 16; i++) {
                            divs[0].parentNode.removeChild(divs[0]);
                        }
                        $('#sp202').addClass('sp4-f').delay(1500).queue(function () {
                            $('.sp3, .sp4').addClass('transparent');
                            $('.logo').delay(800).queue(function () {
                                $(this).addClass('opaque');
                            });
                        });
                    });
                });
            });
            $('#sp102').delay(50).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 3100, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp103').delay(100).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 3000, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp104').delay(150).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2900, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp105').delay(200).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2800, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp106').delay(250).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2700, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp107').delay(300).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2600, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp108').delay(350).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2500, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp109').delay(400).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2400, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp110').delay(450).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2300, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp111').delay(500).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2200, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp112').delay(550).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2100, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp113').delay(600).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 2000, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp114').delay(650).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1900, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp115').delay(700).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1800, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp116').delay(750).animate({ top: 110 }, 1000, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1700, function () {
                $(this).addClass('fadeOut');
            });
        });
    </script>
}