@{
    ViewBag.Title = "Home Page";
}
<div class="container index" id="test">
    <div class="row" style="width:100%;">
        <div class="col-sm-offset-2 col-sm-8" style="position:relative;">

            <span id="sp1" class="sp1">Brza izrada</span>

            <span id="sp101" class="sp2" style="left:10px;">O</span>
            <span id="sp102" class="sp2" style="left:70px;">r</span>
            <span id="sp103" class="sp2" style="left:110px;">i</span>
            <span id="sp104" class="sp2" style="left:140px;">g</span>
            <span id="sp105" class="sp2" style="left:200px;">i</span>
            <span id="sp106" class="sp2" style="left:230px;">n</span>
            <span id="sp107" class="sp2" style="left:285px;">a</span>
            <span id="sp108" class="sp2" style="left:340px;">l</span>
            <span id="sp109" class="sp2" style="left:370px;">n</span>
            <span id="sp110" class="sp2" style="left:430px;">i</span>

            <span id="sp111" class="sp2" style="left:495px;">D</span>
            <span id="sp112" class="sp2" style="left:555px;">i</span>
            <span id="sp113" class="sp2" style="left:585px;">z</span>
            <span id="sp114" class="sp2" style="left:640px;">a</span>
            <span id="sp115" class="sp2" style="left:700px;">j</span>
            <span id="sp116" class="sp2" style="left:730px;">n</span>

            <span id="sp201" class="sp3">Povoljne</span>
            <span id="sp202" class="sp4">Cene</span>

            <img class="logo img" src="~/Content/Images/logo/mm-logo-tekst.png" style="max-width:30em;" />     
            <hr /> 
        </div>  
    </div><br /><br />
    <div class="row" style="position:relative; height:500px;">        
        <img class="laptop img" src="~/Content/Images/LapTop.png" />
        <img class="fon img" src="~/Content/Images/Phone.png" />
        <img class="tablet img" src="~/Content/Images/office-free-for-android.png" />
        <img class="gif img" src="~/Content/Images/gif/LapTopGif.gif" />
    </div>

          
</div>
<div class="l-astal"></div>

<div class="l-wrapper">        
    <div class="l-container">
        <div class="l-row">
            <div class="l-row-left">
                <h5>IZRADA SAJTOVA</h5>
                <p>
                    Sa velikim brojem uradjenih kako običnih-informativnih sajtova tako i velikih online prodavnica, sajtova za nekretnine, medicinskih sajtova, prezentacija za hotele, male i velike privatne firme, kao i sajtova sa izuzetno specifičnim zahtevima smatramo da smo dovoljno iskusni, kvalitetni da vaš novi sajt u potpunosti prezentuje vašu delatnost na najbolji mogući način.
                    Dobar web dizajn, kao i dobra i dugoročna pozicija vašeg sajta prilikom pretrage na google-u ( eng, SEO ) obezbediće vam kvalitetne posetioce sajta i potencijalne korisnike vaših usluga.
                </p>
            </div>
            <div class="l-row-right">
                <img class="imag" src="~/Content/Images/gif/123.gif"/>
            </div>
        </div>
    </div>
    <h4>POVERITE NAM IZRADU VAŠEG SAJTA I UVERITE SE U KVALITET I PROFESIONALNI ODNOS PREMA NAŠIM KLIJENTIMA</h4> 
</div>

<div class="container index">
    <div class="row">
        <div class="col-xs-12">
            <div class="demo">
                <div class="item">
                    <ul id="content-slider" class="content-slider">
                        <li class="zumOut">
                            <img src="~/Content/Images/izrada-e-shopa-680x350.jpg" />
                            <span>Izrada Inrenet Prodavnice</span>
                        </li>
                        <li class="zumOut prvi">
                            <img src="~/Content/Images/izrada-sajta-saljder-1-680x350.jpg" />
                            <span>Održavanje sajtova</span>
                        </li>
                        <li class="zumOut">
                            <img src="~/Content/Images/izrada-sajtova-680x350.jpg" />
                            <span>Izrada Web Stranica</span>
                        </li>
                        <li class="zumOut">
                            <img src="~/Content/Images/redizajn-sajtova-680x350.jpg" />
                            <span>Redizajn Sajtova</span>
                        </li>
                        <li class="zumOut">
                            <img src="~/Content/Images/web-dizajn-680x350.jpg" />
                            <span>Web Dizajn</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="l-wrapper">
    <div class="l-proces" id="proces">
        <div class="l-proces-row">
            <div class="l-proces-img">
                <a href="#popap"><i class="fas fa-handshake fa-6x"></i></a>
                <h5>UPOZNAVANJE</h5>
                <p>Da bi našli najbolje rešenje za vaš sajt moramo se upoznati i sa vašim poslom, koji su vam ciljevi i zadaci.</p>
            </div>
            <div class="l-proces-img">
                <a href="#popap"><i class="fas fa-paint-brush fa-6x"></i></a>
                <h5>DIZAJN SAJTA</h5>
                <p>Dogovor sa vama oko dizajna sajta, vašim željama oko izgleda i funkcionalnosti sajta, bojama…</p>
            </div>
            <div class="l-proces-img">
                <a href="#popap"><i class="fas fa-cogs fa-6x"></i></a>
                <h5>IZRADA SAJTA</h5>
                <p>Sam proces izrade sajta, optimizacija za pretragu kao i optimizacija sajta za mobilne telefone.</p>
            </div>
            <div class="l-proces-img">
                <a href="#popap"><i class="fas fa-rocket fa-6x"></i></a>
                <h5>POSTAVLJANJE ON-LINE</h5>
                <p>Pošto se sajt uradi, postavlja se online, izvode se poslednje provere da sve radi perfektno i bez greške.</p>
            </div>
        </div>
    </div> 
</div>

<div class="popap" id="popap">
    <div class="popap__sadrzaj">
        <div class="popap__levo">
            <img class="popap__slika" src="~/Content/Images/izrada-sajta-saljder-1-680x350.jpg" alt=""/>
            <img class="popap__slika" src="~/Content/Images/izrada-e-shopa-680x350.jpg" alt=""/>
        </div>
        <div class="popap__desno">
            <a href="#proces" class="popap__zatvoren"><i class="fas fa-times"></i></a>
            <h2 class="l-naslov-2 l-margina-dole-mala">Da vidimo sta je ovo</h2>
            <h3 class="l-naslov-3-narandzasta l-margina-dole-mala">Važno &ndash; Molimo pročitaj</h3>
            <p class="popap__tekst">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <a href="#" class="dugme dugme--plavo">U redu</a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/lightslider.js"></script>
    <script>
        $(function () {
            $('.laptop, .fon, .tablet, .gif').addClass('opaque');
        });

        $("#content-slider").lightSlider({                
            item: 3,
            auto: true,
            loop: true,
            pauseOnHover: true,
            pause: 4000,
            speed: 800,
            slideMargin: 0,
            controls: false,
            enableDrag: false,
            freeMove: false,
            pager: false,

            onBeforeStart: function (el) {
                $('.prvi').addClass('zumIn');
            },
            onBeforeSlide: function (el) {
                $('.active').next().removeClass('zumIn');
                if ($('.active').next().next().hasClass('prvi')) {
                    $('.prvi').addClass('zumIn');
                }
                $('.active').next().next().addClass('zumIn');
            },
            onAfterSlide: function (el) {
                if ($('.active').hasClass('prvi')) {
                    $('.prvi').removeClass('zumIn');
                }                    
            }
        });

        $('#sp1').delay(100).animate({ left: 150 }, 1200).delay(500).animate({ left: -50 }, 500).animate({ left: 1500 }, 1000, function () {
            var div = document.getElementById("sp1");
            div.parentNode.removeChild(div);

            $('#sp101').animate({ top: 100 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1500, function () {
                $(this).addClass('fadeOut').delay(700).queue(function () {

                    $('#sp201').addClass('sp3-f').delay(1500).queue(function () {
                        var divs = document.getElementsByClassName('sp2');
                        for (var i = 0; i < 16; i++) {
                            divs[0].parentNode.removeChild(divs[0]);
                        }
                        $('#sp202').addClass('sp4-f').delay(1500).queue(function () {
                            $('.sp3, .sp4').addClass('transparent');
                            $('.logo').delay(800).queue(function () {
                                $(this).addClass('opaque');
                            });
                        });
                    });
                });
            });
            $('#sp102').delay(50).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1400, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp103').delay(100).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1300, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp104').delay(150).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1200, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp105').delay(200).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1100, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp106').delay(250).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 1000, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp107').delay(300).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 900, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp108').delay(350).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 800, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp109').delay(400).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 700, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp110').delay(450).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 600, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp111').delay(500).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 500, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp112').delay(550).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 400, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp113').delay(600).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 300, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp114').delay(650).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 200, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp115').delay(700).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 100, function () {
                $(this).addClass('fadeOut');
            });
            $('#sp116').delay(750).animate({ top: 110 }, 700, 'linear').animate({ top: 60 }, 500).delay(100).animate({ top: 100 }, 500, 'linear').animate({ top: 100 }, 0, function () {
                $(this).addClass('fadeOut');
            });
        });
    </script>
}