@model Nas_Sajtic.Models.Contact

@{
    ViewBag.Title = "Kontakt";
}
<div class="l-kontakt">
    <div class="l-red">
        <div class="l-forma">
            <div class="l-forma__def">
                <form class="forma" action="/Home/SendMessage" method="post">
                    <div class="ta-center l-margina-dole-mala">
                        <h2 class="l-naslov-2 l-naslov-2-plava l-naslov-2-animacija-2">
                            kontaktirajte nas
                        </h2>
                    </div>
                    <div class="forma__sadrzaj">
                        <input type="text" class="forma__input" placeholder="Puno ime" id="Name" name="Name" required value="@Model.Name" />
                        <label for="Name" class="forma__label">Puno ime</label>
                    </div>
                    <div class="forma__sadrzaj">
                        <input type="email" class="forma__input" placeholder="E-mail adresa" id="Email" name="Email" required value="@Model.Email"/>
                        <label for="Email" class="forma__label">E-mail adresa</label>
                    </div>
                    <div class="forma__sadrzaj">
                        <textarea placeholder="Postavite pitanje..." rows="5" class="forma__poruka" id="Message" name="Message" required>@Model.Message</textarea>
                        <label for="Message" class="forma__label">Pitanje</label>
                    </div>
                    <div class="forma__sadrzaj">
                        <input type="submit" value="Pošalji" class="dugme" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{    
        @Scripts.Render("~/bundles/jqueryval")
    }

