
@{
    ViewBag.Title = "O Nama";
}

<div class="l-red">
    <div class="l-onama">
        @*<div class="l-bg-video">
                <video class="l-bg-video__sadrzaj" autoplay muted loop>
                    <source src="~/Content/Images/Video/Clouds_Fly_By.mp4" type="video/mp4" />
                    <source src="~/Content/Images/Video/Clouds_Fly_By.webm" type="video/webm" />
                    Vaš pretraživac ne podržava
                </video>
            </div>*@
        <div>
            <div class="ta-center">
                <img class="l-naslov-1 l-naslov-1-animacija l-margina-dole-srednja l-Logo1" src="~/Content/Images/logo/mm-logo-tekst.png" />
            </div>
            <div class="l-tim">
                <div class="l-tim__oblik-firma  l-margina-dole-mala">
                    <img class="l-tim__slika-firma" src="~/Content/Images/logo/mm-logo-znak.png" alt="" />
                    <img class="l-tim__slika-firma-img" src="~/Content/Images/logo/mm-logo-tekst.png" />
                </div>
                <div class="l-tim__text-firma">
                    <p class="l-paragraf l-paragraf-crna">
                        <b>MikroMars</b> je izuzetno mlada firma osnovana 2018 godine, cija je osnovna delatnost web projektovanje,
                        izrada i održavanje web prezentacija, web sajtova, web aplikacija i web prodavnica sa najmodernijim tehnologijama i dizajnom.
                        Pored web orijentisane delatnosti takode možete dobiti usluge grafickog dizajna logotipa koji se mogu primeniti na web stranicama vašeg preduzeca.
                    </p>
                    <p class="l-paragraf l-paragraf-crna">
                        Naša rešenja nisu radena u šablonima niti uz pomoc takozvanih sajt bildera (eng. Site Builder), vec za svaki novi projekat osmišljamo stilove od nule poštujuci prethodno analizirane potrebe klijenata.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-text-box">
            <h2 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija-2 l-margina-gore-srednja">Naš tim</h2>
        </div>
        <div>
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Milos.png" alt="" />
                    <div class="l-tim__ime">
                        Miloš Maricic
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">Miloš Maricic</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        Jedan od osnivaca i idejni tvorac <strong>MIKROMARS</strong><b>A</b>. Svoje strucno znanje vrlo uspešno primenjuje i implementira u <span>kreiranje web aplikacija</span>.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Mirko.png" alt="" />
                    <div class="l-tim__ime">
                        Mirko Lišanin
                    </div>
                </div><br />
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">Mirko Lišanin</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        Koosnivac <strong>MIKROMARS</strong><b>A</b> zadužen za stilizovanje sajtova i graficki dizajn. Konstantno razvija veštine u <span>kreiranju modernih web stranica</span> kako bi bio u mogucnosti da isprati trendove ove industrije.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>