
@{
    ViewBag.Title = "ONama";
}

<div class="l-red">    
    <div class="l-onama">        
        @*<div class="l-bg-video">
            <video class="l-bg-video__sadrzaj" autoplay muted loop>
                <source src="~/Content/Images/Video/Clouds_Fly_By.mp4" type="video/mp4" />
                <source src="~/Content/Images/Video/Clouds_Fly_By.webm" type="video/webm" />
                Vaš pretraživač ne podržava
            </video>
        </div>*@        
        <div class="l-red">
            <div class="ta-center">
                <img class="l-naslov-1 l-naslov-1-animacija l-margina-dole-srednja l-Logo1" src="~/Content/Images/logo/mm-logo-tekst.png" />
            </div>
            <div class="l-tim">
                <div class="l-tim__oblik-firma  l-margina-dole-mala">
                    <img class="l-tim__slika-firma" src="~/Content/Images/logo/mm-logo-znak.png" alt="" />     
                    <img class="l-tim__slika-firma-img" src="~/Content/Images/logo/mm-logo-tekst.png" />               
                </div>
                <div class="l-tim__text-firma">                    
                    <p class="l-paragraf l-paragraf-crna">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="l-text-box">
            <h2 class="l-naslov-2 l-margina-gore-srednja">Naš tim</h2>
        </div>
        <div class="l-red">
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Beavis.png" alt="" />
                    <div class="l-tim__ime">
                        Miloš Maričić
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">On je mudar, hrabar, kodira kako treba...</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
        <div class="l-red">
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Butt-head.png" alt="" />
                    <div class="l-tim__ime">
                        Mirko Lišanin
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">On je mudar, hrabar, kodira kako treba...</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>        
</div>

