
@{
    ViewBag.Title = "O Nama";
}

<div class="l-red">
    <div class="l-onama">        
        <div>
            <figure class="ta-center">
                <img class="l-naslov-1 l-naslov-1-animacija l-margina-dole-srednja l-Logo1" src="~/Content/Images/logo/mm-logo-tekst.png" />
            </figure>
            <div class="l-tim">
                <figure class="l-tim__oblik-firma  l-margina-dole-mala">
                    <img class="l-tim__slika-firma" src="~/Content/Images/logo/mm-logo-znak.png" alt="" />       
                    <img class="l-tim__slika-firma-img" src="~/Content/Images/logo/mm-logo-tekst.png" />             
                </figure>
                <div class="l-tim__text-firma">
                    <p class="l-paragraf l-paragraf-crna">
                        <b>MikroMars</b> je izuzetno mlada firma osnovana 2018 godine, čija je osnovna delatnost web projektovanje,
                        izrada i održavanje web prezentacija, web sajtova, web aplikacija i web prodavnica sa najmodernijim tehnologijama i dizajnom.
                        Pored web orijentisane delatnosti takođe možete dobiti usluge grafičkog dizajna logotipa i profesionalnog fotografisanja koji se mogu primeniti na web stranicama vašeg preduzeća.
                    </p>
                    <p class="l-paragraf l-paragraf-crna">
                        Naša rešenja nisu rađena u šablonima niti uz pomoć takozvanih sajt bildera (eng. Site Builder), već za svaki novi projekat osmišljamo stilove od nule poštujući prethodno analizirane potrebe klijenata.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-text-box">
            <h2 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija-2 l-margina-gore-srednja">Naš tim</h2>
        </div>
        <div>
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Milos.png" alt="Milos Maricic" />
                    <div class="l-tim__ime">
                        Miloš Maričić
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">Miloš Maričić</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        Jedan od osnivača i idejni tvorac <strong>MIKROMARS</strong><b>A</b>. Svoje stručno znanje vrlo uspešno primenjuje i implementira u <span>kreiranje web aplikacija</span>.
                    </p>
                </div>
            </div>
        </div>
        <div>
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Mirko.png" alt="Mirko Lisanin" />
                    <div class="l-tim__ime">
                        Mirko Lišanin
                    </div>
                </div><br />
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">Mirko Lišanin</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        Koosnivač <strong>MIKROMARS</strong><b>A</b> zadužen za stilizovanje sajtova i grafički dizajn. Konstantno razvija veštine u kreiranju modernih web stranica kako bi bio u mogućnosti da isprati trendove ove industrije.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-text-box">
            <h2 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija-2 l-margina-gore-srednja">Fotograf - saradnik</h2>
        </div>
        <section id="fotograf">
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/photo-camera-png-image--photo-camera-png-image-6.png" alt="Marijana Jankovic" />
                    <div class="l-tim__ime">
                        Marijana Janković
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">Marijana Janković</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        <span><i class="far fa-envelope"></i> <a href="mailto:marijana.n.jankovic@gmail.com"> - marijana.n.jankovic@gmail.com</a></span>
                    </p>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        <span><i class="fas fa-mobile-alt"></i> - 065 62 40 898</span>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>