
@{
    ViewBag.Title = "ONama";
}

<div class="l-red">    
    <div class="l-onama">        
        @*<div class="l-bg-video">
            <video class="l-bg-video__sadrzaj" autoplay muted loop>
                <source src="~/Content/Images/Video/Clouds_Fly_By.mp4" type="video/mp4" />
                <source src="~/Content/Images/Video/Clouds_Fly_By.webm" type="video/webm" />
                Vaš pretraživač ne podržava
            </video>
        </div>*@        
        <div class="l-red">
            <div class="ta-center">
                <img class="l-naslov-1 l-naslov-1-animacija l-margina-dole-srednja l-Logo1" src="~/Content/Images/logo/mm-logo-tekst.png" />
            </div>
            <div class="l-tim">
                <div class="l-tim__oblik-firma  l-margina-dole-mala">
                    <img class="l-tim__slika-firma" src="~/Content/Images/logo/mm-logo-znak.png" alt="" />     
                    <img class="l-tim__slika-firma-img" src="~/Content/Images/logo/mm-logo-tekst.png" />               
                </div>
                <div class="l-tim__text-firma">                    
                    <p class="l-paragraf l-paragraf-crna">
                        <b>MikroMars</b>™ je izuzetno mlada firma osnovana 2018 godine, čija je delatnost <strong>izrada WEB SAJTOVA</strong>, <strong>WEB APLIKACIJA</strong> i <strong>WEB PRODAVNICA</strong> sa najmodernijim tehnologijama i <strong>DIZAJN</strong><b>OM</b>. 
                        Pored <strong>WEB</strong> orijentisane delatnosti takođe pružamo usluge <strong>GRAFIČKOG DIZAJNA LOGOTIPA</strong> koje možemo primeniti na web stranicama Vašeg preduzeća.

                    </p>
                </div>
            </div>
        </div>
        <div class="l-text-box">
            <h2 class="l-naslov-2 l-naslov-2-bela l-naslov-2-animacija-2 l-margina-gore-srednja">Naš tim</h2>
        </div>
        <div class="l-red">
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Beavis.png" alt="" />
                    <div class="l-tim__ime">
                        Miloš Maričić
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">On je mudar, hrabar, kodira kako treba...</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        Jedan od osnivača i idejni tvorac <strong>MIKROMARS</strong><b>A</b>. Svoje stručno znanje vrlo uspešno primenjuje i implementira u <span>kreiranje web aplikacija</span>.
                    </p>
                </div>
            </div>
        </div>
        <div class="l-red">
            <div class="l-tim">
                <div class="l-tim__oblik">
                    <img class="l-tim__slika" src="~/Content/Images/Butt-head.png" alt="" />
                    <div class="l-tim__ime">
                        Mirko Lišanin
                    </div>
                </div>
                <div class="l-tim__text">
                    <h3 class="l-naslov-3 l-naslov-3-narandzasta">On je mudar, hrabar, kodira kako treba...</h3>
                    <p class="l-paragraf l-paragraf-logo_plava">
                        Koosnivač <strong>MIKROMARS</strong><b>A</b> zadužen za stilizovanje sajtova i grafički dizajn. Konstantno razvija veštine u <span>kreiranju modernih web stranica</span> kako bi bio u mogućnosti da isprati trendove ove industrije.
                    </p>
                </div>
            </div>
        </div>
    </div>        
</div>

